<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>List of Users</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>List of Transactions</h1>
    </div>
    <div>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Transaction ID</th>
                <th>From</th>
                <th>To</th>
                <th>Amount</th>
                <th>Currency</th>
                <th>Commission %</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction: ${transactionList}">
                <td th:text="${transaction.transactionId}">Transaction ID</td>
                <td th:text="${transaction.sourceWallet.user.username}">From</td>
                <td th:text="${transaction.sourceWallet.user.username}">To</td>
                <td th:text="${transaction.amount}">Amount</td>
                <td th:text="${transaction.currency}">Currency</td>
                <td th:text="${transaction.commissionPercent}">Commission %</td>
                <td th:text="${transaction.creationDate}">Date</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>